node_modules
.next
out
dist
.DS_Store
*.log
.env.example
.env
.env.local
.env.production
.env*.local
prisma/dev.db
prisma/dev.db-journal
uploads/
.vercel
.turbo
DEPLOY_CHECKLIST.md
DEPLOYMENT_GUIDE.md

